.safeAreaAll {
  padding-top: env(safe-area-inset-top, 0px);
  padding-bottom: env(safe-area-inset-bottom, 0px);
  padding-left: env(safe-area-inset-left, 0px);
  padding-right: env(safe-area-inset-right, 0px);
}

.safeAreaTop {
  padding-top: env(safe-area-inset-top, 0px);
}

.safeAreaBottom {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

.safeAreaHorizontal {
  padding-left: env(safe-area-inset-left, 0px);
  padding-right: env(safe-area-inset-right, 0px);
}

.safeAreaVertical {
  padding-top: env(safe-area-inset-top, 0px);
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

.safeAreaTopWithBase {
  padding-top: calc(16px + env(safe-area-inset-top, 0px));
}

.safeAreaBottomWithBase {
  padding-bottom: calc(16px + env(safe-area-inset-bottom, 0px));
}

.safeAreaHorizontalWithBase {
  padding-left: calc(16px + env(safe-area-inset-left, 0px));
  padding-right: calc(16px + env(safe-area-inset-right, 0px));
}

.safeAreaAllWithBase {
  padding-top: calc(16px + env(safe-area-inset-top, 0px));
  padding-bottom: calc(16px + env(safe-area-inset-bottom, 0px));
  padding-left: calc(16px + env(safe-area-inset-left, 0px));
  padding-right: calc(16px + env(safe-area-inset-right, 0px));
}

